<router-outlet></router-outlet>
<div class="back">
    <div class="log-in-form">
      <div class="style-buttons">
        <div class="current-button"></div>
        <button type="button" class="the-buttons" [ngClass]="{'active': currentPage === 'login'}" (click)="showLogin()">Log In</button>
        <div class="current-button-2"></div>
        <button type="button" class="the-buttons" [ngClass]="{'active': currentPage === 'register'}" (click)="showRegister()">Register</button>
      </div>
      <form *ngIf="showLoginForm" id="log-in" class="input-data-class">
        <input type="text" id="input-data-id" name="Username" placeholder="Username" required>
        <input type="password" id="input-data-id" name="Pass" placeholder="Password" required>
        <small id="checkbox-id">Your data is safe with us!</small>
        <input type="submit" id="submit-button" value="Submit">
      </form>

      <form *ngIf="showRegisterForm" id="register" class="input-data-class">
        <input type="text" id="input-data-id" name="Username" placeholder="Username" required>
        <input type="password" id="input-data-id" name="Pass" placeholder="Password" required>
        <input type="email" id="input-data-id" name="id" placeholder="Email ID" required>
        <input type="submit" id="submit-button" value="Register">
      </form>
    </div>
  </div>